<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
    <div class="container-fluid">
        <div class="navbar-brand">Long Weekends</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <pc-link [activeClass]="'active'" routerLinkActive="active" [linkText]="'Home'" [routerLink]="'/home'" [linkTitle]="''" [class]="'nav-link'"></pc-link>
                </li>
                <li class="nav-item">
                    <pc-link [activeClass]="'active'" routerLinkActive="active" [linkText]="'Holidays'" [routerLink]="'/holidays'" [linkTitle]="''" [class]="'nav-link'"></pc-link>
                </li>
                <li class="nav-item">
                    <pc-link [activeClass]="'active'" routerLinkActive="active" [linkText]="'Long Weekends'" [routerLink]="'/long-weekends'" [linkTitle]="'long-weekends'" [class]="'nav-link'"></pc-link>
                </li>
            </ul>
        </div>
    </div>
</nav>