<section class="hero-section mt-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <pc-image [src]="'../../../assets/Frame 1.png'" [alt]="'Image of a person riding a bike'" [class]="'img-fluid'"></pc-image>
            </div>
            <div class="col-md-6 mt-4 mt-md-0 text-center">
                <header>
                    <pc-h1 [hText]="'Long Weekends and Holidays Around the World'" [class]="'display-4 mb-4'">
                    </pc-h1>
                </header>
                <pc-paragraph [pText]='"If you love weekends and holidays, you&#39;ve come to the right place."' [class]=" 'lead mb-4' "> </pc-paragraph>
                <nav>
                    <pc-link [linkText]="'Holidays!'" [routerLink]='"/holidays"' [linkTitle]='"Holidays!"' [class]='"btn btn-outline-primary btn-lg m-1"'></pc-link>

                    <pc-link [linkText]="'Long Weekends!'" [routerLink]='"/long-weekends"' [linkTitle]='"Long Weekends!"' [class]='"btn btn-outline-primary btn-lg m-1"'></pc-link>

                </nav>
            </div>
        </div>
    </div>
</section>