<div class="d-flex align-items-center justify-content-center">
    <pc-select [items]="countries" [firstOption]="choose" [valueProperty]="value" [nameProperty]="name" (selectedEmitter)="onSelectedValueChange($event)"></pc-select>
    <pc-button *ngIf="!showSpinner" (buttonClick)="handleButtonClick()" [disabled]="buttonDisabled"></pc-button>
    <pc-spinner *ngIf="showSpinner" [class]="'primary m-1'"></pc-spinner>

</div>